h1 {
    text-shadow: 2px 2px 5px rgb(228, 20, 20);
}
.branco{
    color: white;
    text-shadow: 2px 2px 4px black;
}
.multipla{
    color: black;
    text-shadow: 0 0 3px red, 2px 2px 5px yellow;
}

.caixa{
    text-align: center;
    background: white;
    width: 40%;
    height: 300PX;
    box-shadow: 0 4PX 8PX 0 rgba(0,0,0,0.19), 0 6PX 20PX 0 rgba(0,0,0,0.2)
}





